Experiment No. 3 
Title: To extract features from given data set and establish training data.

Objectives:
1. To learn how to prepare dataset
2. to understand steps include to upload dataset
3. To learn how to execute python program
4. To get top 10 best features

data set of Wine Quality dataset

In [ ]:
import pandas as pd

import numpy as np

from sklearn.feature_selection import SelectKBest

from sklearn.feature_selection import chi2

In [ ]:
df = pd.read_csv('winequality-red.csv', sep = ';')

In [ ]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [ ]:
X = df.iloc[:, 0:11]
y = df.iloc[:, -1:]

In [ ]:
y.value_counts()

quality
5          681
6          638
7          199
4           53
8           18
3           10
dtype: int64

In [ ]:
best_features = SelectKBest(score_func= chi2, k=5)

In [ ]:
fit = best_features.fit(X, y)

In [ ]:
fit.scores_

array([1.12606524e+01, 1.55802891e+01, 1.30256651e+01, 4.12329474e+00,
       7.52425579e-01, 1.61936036e+02, 2.75555798e+03, 2.30432045e-04,
       1.54654736e-01, 4.55848775e+00, 4.64298922e+01])

In [ ]:
df_scores = pd.DataFrame(fit.scores_)
df_scores

              0
0     11.260652
1     15.580289
2     13.025665
3      4.123295
4      0.752426
5    161.936036
6   2755.557984
7      0.000230
8      0.154655
9      4.558488
10    46.429892

In [ ]:
X_columns = pd.DataFrame(X.columns)
X_columns

                       0
0          fixed acidity
1       volatile acidity
2            citric acid
3         residual sugar
4              chlorides
5    free sulfur dioxide
6   total sulfur dioxide
7                density
8                     pH
9              sulphates
10               alcohol

In [ ]:
df_best_fet = pd.concat([df_scores, X_columns], axis=1)
df_best_fet

              0                     0
0     11.260652         fixed acidity
1     15.580289      volatile acidity
2     13.025665           citric acid
3      4.123295        residual sugar
4      0.752426             chlorides
5    161.936036   free sulfur dioxide
6   2755.557984  total sulfur dioxide
7      0.000230               density
8      0.154655                    pH
9      4.558488             sulphates
10    46.429892               alcohol

In [ ]:
df_best_fet.columns = ['scores', 'features']
df_best_fet

         scores              features
0     11.260652         fixed acidity
1     15.580289      volatile acidity
2     13.025665           citric acid
3      4.123295        residual sugar
4      0.752426             chlorides
5    161.936036   free sulfur dioxide
6   2755.557984  total sulfur dioxide
7      0.000230               density
8      0.154655                    pH
9      4.558488             sulphates
10    46.429892               alcohol

In [ ]:
df_best = df_best_fet.sort_values('scores', axis=0, ascending = False)
df_best.head(5)

         scores              features
6   2755.557984  total sulfur dioxide
5    161.936036   free sulfur dioxide
10    46.429892               alcohol
1     15.580289      volatile acidity
2     13.025665           citric acid

OR

In [ ]:
df_best_fet.nlargest(5, 'scores')

         scores              features
6   2755.557984  total sulfur dioxide
5    161.936036   free sulfur dioxide
10    46.429892               alcohol
1     15.580289      volatile acidity
2     13.025665           citric acid

In [ ]:
best_fet_list = list(df_best_fet.nlargest(5, 'scores')['features'].values)

In [ ]:
df[best_fet_list]

,total sulfur dioxide,free sulfur dioxide,alcohol,volatile acidity,citric acid
0,34.0,11.0,9.4,0.700,0.00
1,67.0,25.0,9.8,0.880,0.00
2,54.0,15.0,9.8,0.760,0.04
3,60.0,17.0,9.8,0.280,0.56
4,34.0,11.0,9.4,0.700,0.00
...,...,...,...,...,...
1594,44.0,32.0,10.5,0.600,0.08
1595,51.0,39.0,11.2,0.550,0.10
1596,40.0,29.0,11.0,0.510,0.13
1597,44.0,32.0,10.2,0.645,0.12
1598,42.0,18.0,11.0,0.310,0.47